.book-container{
  width: 350px;
}
.book-poster{
  width: 350px;
  height: 500px;
  object-fit: cover;
}
.book-spec{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.book-summary{
  margin-top: 0;
}
.book-title {
  margin: 0;
}
.book-rating {
  font-size: 18px;
}
.book-lists{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
}